textarea {
    min-height: 400px;
}

.header {
    margin-top: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
}

.sender {
    font-weight: bold;
}

.subject {
    margin-left: 15px;
}

.timestamp {
    float: right;
    padding-right: 5px;
}

.info {
    font-weight: bold;
}

#email-info {
    padding-left: 5px;
    padding-bottom: 5px;
}

#email-body {
    margin-top: 5px;
    border-width: 1px;
    padding-left: 5px;
}
